@import "variables";

* {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @media only screen and (max-width: 376px) {
    font-size: 50%;
  }
}

body {
  background-color: $dark-cyan;
  height: 100vh;
  position: relative;
  overflow: hidden;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    background-size: cover;
    height: $circle-size + 30vw;
    width: $circle-size + 30vw;
    z-index: 0;

    //TABLET
    @media (min-width: 376px) and (max-width: 1439px) {
      height: $circle-size + 10vw;
      width: $circle-size + 10vw;
    }

    //DESKTOP
    @media only screen and (min-width: 1440px) {
      height: $circle-size;
      width: $circle-size;
    }
  }

  &::before {
    background-image: url("../images/bg-pattern-top.svg");
    top: -45vw;
    left: -20vw;
  }

  &::after {
    background-image: url("../images/bg-pattern-bottom.svg");
    bottom: -45vw;
    right: -20vw;
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  text-align: center;
  font-size: 1.6rem;
  border-radius: 2rem;
  background-color: $bg-card;
  box-shadow: 8px 11px 29px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  overflow: hidden;

  &::before {
    position: absolute;
    content: "";
    display: block;
    height: 13rem;
    width: 100%;
    z-index: 0;
    background: url("../images/bg-pattern-card.svg");
    background-size: cover;
  }

  &__img {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    border: 5px white solid;
    z-index: 1;
  }

  &__header {
    padding: 8rem 10rem 4rem;
    border-bottom: 1px solid $light-gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & h3 {
      margin: 2rem 0;
      color: $dark-blue;
    }

    & span {
      color: $dark-grayish-blue;
      font-weight: 400;
    }
    & h4 {
      color: $dark-grayish-blue;
      font-weight: 400;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
  }

  &__info {
    flex: 1;
    margin: 1.5rem;

    h3 {
      margin: 1rem 0;
    }

    p {
      color: $dark-grayish-blue;
      font-weight: 400;
    }
  }
}
